<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
بورس ایران

</font>
</h1>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در این سوال قرار است با داده های واقعی بورس ایران به چند مسئله پاسخ دهید.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت اول
<br>
محاسبه حداکثر افت سرمایه در بازه سه سال
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
طبق گفته سایت investopedia تعریف  <a href="https://www.investopedia.com/terms/m/maximum-drawdown-mdd.asp">Maximum DarwDown</a> به صورت زیر است : 
<br>
Maximum DrawDown (MDD) یا همان حداکثر افت سرمایه مقدار حداکثر افت سرمایه از یک قله تا 
<b>
کف بعد از آن
</b>
 قله است قبل از این که قله جدیدی تشکیل شود.
<br>
حداکثر افت سرمایه نشانگر ریسک نزولی در یک بازه زمانی مشخص است.
</font>
</p>

$ MDD = \frac{Trough Value - Peak Value}{Peak Value} $

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در این قسمت شما داده های سهام فولاد در بورس ایران را دریافت میکنید و باید میزان حداکثر افت سرمایه را از تاریخ 01-01-2020 تا تاریخ 01-01-2023 را بدست بیاورید و تا دو رقم اعشار رند کنید و در  <code>MDD</code> قرار دهید.
<br>
خروجی شما باید عددی اعشاری بین صفر و یک با علامت منفی باشد و نوع داده شما باید float باشد.
<br>
برای محاسه <code>MDD</code> از ستون <code>adjClose</code> استفاده کنید.
</font>
</p>

In [1]:
import pandas as pd
import numpy as np

In [28]:
# read the data
# read فولاد.csv for this part
foolad_df = pd.read_csv("فولاد.csv")
foolad_df = foolad_df[(foolad_df['date'] >= '2020-01-01') & (foolad_df['date'] <= '2023-01-01')]
foolad_df = foolad_df.drop(columns=['open','high','low','value','volume','count','yesterday','close'])
foolad_df

            date  adjClose
2804  2020-01-01    5814.0
2805  2020-01-04    5524.0
2806  2020-01-05    5715.0
2807  2020-01-13    3976.0
2808  2020-01-14    3974.0
...          ...       ...
3482  2022-12-25    5930.0
3483  2022-12-26    5880.0
3484  2022-12-28    6280.0
3485  2022-12-31    5970.0
3486  2023-01-01    5840.0

[683 rows x 2 columns]

In [116]:
# calculate the MDD
max_adj = 0 
foolad = np.array(foolad_df)
peak = np.array(foolad[0,1])
for row in foolad:
    max_adj = max(max_adj , row[1])
    peak = np.append(peak,max_adj)

peak = np.delete(peak,0)
foolad = np.column_stack((foolad,peak))
foolad
df = pd.DataFrame(foolad,columns =['date','adjClose','max_adj'])
peak_index = df[df.max_adj == df.max_adj.max()].head(1).index
peak_value =df.max_adj.max()
trough_value = df[df.index > peak_index[0]].min().adjClose

MDD = float(round((trough_value - peak_value)/peak_value,2))
MDD

-0.82

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت دوم
<br>
کندل های حجمی
</font>
</h2>
<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
  کندل های حجمی یا <a href="https://towardsdatascience.com/advanced-candlesticks-for-machine-learning-ii-volume-and-dollar-bars-6cda27e3201d">volume bars</a> 
آن دسته از کندل هایی هستن که بر اساس حجم هستند.
<br>
در کندل های زمانی در یک بازه زمانی مشخص ریز معاملات را بررسی میکنند و قیمت شروع کننده رو به عنوان Open Price در نظر میگرند و قیمت آخر را به عنوان Close Price در نظر میگیرن و بالاترین و پایین ترین قیمت را به ترتیب به عنوان High و Low در نظر میگیرند و همچنین مجموع حجم آن روز را به عنوان volume در نظر گرفته میشود.
<br>
نمونه های کندل های زمانی را در قسمت قبل دیدید که در یک بازه یک روزه ریز معاملات را بررسی کرده اند.
<br>
در کندل های حجمی نیز شما به همین سبک عمل کرده ولی زمان برای شما مهم نمیباشد بلکه به ازای یک مقدار مشخص حجم که در این سوال برای شما 400000 در نظر گرفته شده است کندل های حجمی را تشکیل میدهیم.
<br>
در این سوال به شما ریز معاملات یک روز معاملاتی سهام فولاد داده شده است شما باید هر موقع مجموع حجم ریزمعاملات به عدد 400000 رسید یک کندل (یک ردیف در دیتا فریم) تشکیل دهید و تمام پارامتر ها را (Open Price,Close Price,...) باید در نظر بگیرید.
<br>
5 خط اول خروجی شما باید به شکل زیر باشد.
<br>
خروجی خود را در <code>volume_bars</code> ذخیر کنید.
<br>
hint : برای این سوال باید از iteration استفاده کنید.
</font>
</p>

|    |   open |   high |   low |   close |   volume |
|---:|-------:|-------:|------:|--------:|---------:|
|  0 |   6260 |   6260 |  6260 |    6260 |   419476 |
|  1 |   6260 |   6260 |  6240 |    6240 |   403936 |
|  2 |   6240 |   6240 |  6220 |    6220 |   409206 |
|  3 |   6220 |   6240 |  6220 |    6220 |   401274 |
|  4 |   6220 |   6230 |  6210 |    6230 |   412543 |

In [196]:
# read the data
# read ریزمعاملات_فولاد.csv for this part
foolad_detailed_df = pd.read_csv("ریزمعاملات_فولاد.csv")
foolad_detailed = np.array(foolad_detailed_df)

open , high , low , close = foolad_detailed[0][2], 0, np.inf, 0
value = 0
sum_volume = np.array([open , high , low , close , foolad_detailed[0][1]])
#                       ,columns = ['open','high','low','close','volume'] )
for row in foolad_detailed:
    value = row[1]+ value
    if value < 400000:
        high = max(row[2],high)
        low = min(row[2],low)
    else:
        close = row[2]
        sum_volume = np.append(sum_volume ,(open,high,low,close ,value))
        open = row[2]
        value, high, low = 0, 0 , np.inf
        
        flag = True

sum_volume = np.delete(sum_volume,[0,1,2,3,4])
sum_volume = sum_volume.reshape(166,5)

In [200]:
# calculate volume bars dataframe

open , high , low , close = foolad_detailed[0][2], 0, np.inf, 0
value = 0
sum_volume = np.array([open , high , low , close , int(foolad_detailed[0][1])])
                      
for row in foolad_detailed:
    value = int(row[1]+ value)
    if value < 400000:
        high = max(row[2],high)
        low = min(row[2],low)
    else:
        close = row[2]
        sum_volume = np.append(sum_volume ,(open,high,low,close ,value))
        open = row[2]
        value, high, low = 0, 0 , np.inf
        
        flag = True

sum_volume = np.delete(sum_volume,[0,1,2,3,4])
sum_volume = sum_volume.reshape(166,5)

volume_bars = pd.DataFrame(sum_volume,columns = ['open','high','low','close','volume'] )
volume_bars.reset_index(drop=True,inplace=True)
volume_bars

       open    high     low   close    volume
0    6260.0  6260.0  6260.0  6260.0  419476.0
1    6260.0  6260.0  6240.0  6240.0  403936.0
2    6240.0  6240.0  6220.0  6220.0  409206.0
3    6220.0  6240.0  6220.0  6220.0  401274.0
4    6220.0  6230.0  6210.0  6230.0  412543.0
..      ...     ...     ...     ...       ...
161  6260.0  6270.0  6260.0  6270.0  407591.0
162  6270.0  6280.0  6260.0  6280.0  401536.0
163  6280.0  6280.0  6270.0  6280.0  464098.0
164  6280.0  6280.0  6270.0  6280.0  414155.0
165  6280.0  6280.0  6270.0  6280.0  455679.0

[166 rows x 5 columns]

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
سلول جواب‌ساز
</h2>

In [201]:
import zipfile
import joblib

joblib.dump(MDD,"MDD")
volume_bars.to_csv('./volume_bars.csv', index=False)


def compress(file_names):
    print("File Paths:")
    print(file_names)
    # Select the compression mode ZIP_DEFLATED for compression
    # or zipfile.ZIP_STORED to just store the file
    compression = zipfile.ZIP_DEFLATED
    # create the zip file first parameter path/name, second mode
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            # Add file to the zip file
            # first parameter file to zip, second filename in zip
            zf.write('./' + file_name, file_name, compress_type=compression)


file_names = ["MDD" , "volume_bars.csv" , "boors.ipynb"]
compress(file_names)

File Paths:
['MDD', 'volume_bars.csv', 'boors.ipynb']